//add option error
.add-option-error {
  color: white;
  font-style: italic;
  margin: 0;
  padding: $m-size;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input {
  background: $black;
  color: white;
  flex: 1 1 auto;
  margin: 0 0 $s-size 0;
  padding: $s-size;
}

@media (min-width: $desctop-breakpoint) {
  .add-option {
    flex-direction: row;
  }
  .add-option__input {
    margin: 0 $s-size 0 0;
  }
}
