// big-button
.big-button {
  background: $gold;
  border: none;
  border-bottom: 0.6rem solid darken($gold, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
}

.big-button:disabled {
  opacity: 0.5;
}

// button
.button {
  background: $gold;
  border: none;
  border-bottom: 0.3rem solid darken($gold, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

// bem
.button--link {
  background: none;
  border: none;
  color: $pink;
  padding: 0;
}

@media (min-width: $desctop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}
