.widget {
  background: $light-black;
  margin-bottom: $xl-size;
}

.widget__message {
  border-bottom: 0.1rem solid lighten($light-black, 10%);
  color: white;
  margin: 0;
  padding: $l-size;
  text-align: center;
}
.widget-header {
  background: $off-black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: $m-size;
}

.widget-header__title {
  margin: 0;
}
