// colors
$off-black: #111111;
$light-black: #231f22;
$black: #2e2a2e;
$gold: #655329;
$pink: #bf5589;

//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desctop-breakpoint: 45rem;
